<%- include("header"); -%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">TofuTexts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="nav collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown" :hover>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/#" id="notesDropdown" role="button">Notes
            <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelled="notesDropdown">
              <li class="nav-item"><a class="nav-link" href="/notes/lambda-calculus">Lambda Calculus</a></li>
              <li class="nav-item"><a class="nav-link" href="/notes/languages-and-machines">Languages and Machines</a></li>
              <li class="nav-item"><a class="nav-link" href="/notes/logic-programming">Logic Programming</a></li>
              <li class="nav-item"><a class="nav-link" href="/notes/types-and-programming-languages">Types and Programming languages</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container bg-light" id="mainContent">
    <div class="row">
      <div class="col-md-10 col-sm-12 mx-auto text-dark">
        <div id="content text-dark">
          <% if(filePath.length > 0) { %>
            <%- include(filePath); -%>  
          <% } else { %>
            <p>It Appears the content you are trying to view doesn't exist. Please try again later.</p>
          <% } %>            
        </div>  
      </div>
    </div>
  </div>
<%- include("footer"); -%>