  <footer class="footer bg-dark">
    <div class="container">
      <span class="text-muted">&copy; Noah Dommaschk Burwell 2018. All external content belongs to their respective owners.</span>
    </div>
  </footer>
  </body>
</html>
