<div class="notes-list">
  <h1 class="text-center"><u><%= page %></u></h1>
  <% if (notes.length > 0) { %>
    <% var n = 1; %>
    <% notes.forEach(function(note) { %>
      <li class="p-3"><a role="button" class="btn btn-secondary btn-lg btn-block" href='<%= note %>'>week <%= n %></a></li>
      <%  n += 1; %>
    <% }) %>
  <% } else { %>
    <li class="p-3"><a role="button" class="btn btn-secondary btn-lg btn-block" href=''>There don't appear to be any notes available</a></li>
  <% } %>
</div>