

    <body>
        <h1 id="week-1">Week 1</h1>
<hr>
<h4 id="type-systems-in-computing">Type Systems in Computing</h4>
<blockquote>
<p>A type system is a tractable syntactic method for proving thea bsence of certain program behaviors by classifying phrases according to the kinds of values they compute</p>
</blockquote>
<ul>
<li>Proving the absence of certain program behaviors</li>
<li>Tractable</li>
<li>Syntactic</li>
<li>Clissifivation of values</li>
</ul>
<h4 id="static-vs-dynamic-types">Static vs Dynamic Types</h4>
<ul>
<li>Type systems come from mathematics</li>
<li>Mathematics itself is decidable (static)</li>
<li>Dynamic Type Checking is run-time monitoring</li>
<li>Type systems are always static (mathematically and for us)</li>
<li>But these days we sometimes have to say &quot;static&quot; type system
<ul>
<li>do to other variations in languages</li>
</ul>
</li>
<li>Tractable means decidable, compile time, in a reasonable (polynomial) big O</li>
</ul>
<h4 id="type-systems-in-mathematics-and-logic">Type Systems in Mathematics and Logic</h4>
<ul>
<li>Evolve in mathematics to overcome set theory paradoxes</li>
<li>Stated with &quot;logical foundations&quot; of Mathematics itself</li>
<li>Now logic and type systems themselves are studied in the field of logic</li>
<li>In mathematics and logic, programs are algorithms or proofs and always terminate</li>
<li>Computer programs do not always terminate</li>
</ul>
<h4 id="type-errors">Type errors</h4>
<ul>
<li>Type systems cannot detect all errors because some errors are inherently run-time errors. For exampe, dividing by zero.</li>
</ul>
<hr>
<p>Sets</p>
<ul>
<li>Countable</li>
<li>Uncountable</li>
<li>Empty set, { }</li>
<li>Power set <span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi mathvariant="script">P</mi><mo>(</mo><mi>S</mi><mo>)</mo></mrow><annotation encoding="application/x-tex">\mathcal{P} (S)</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:1em;vertical-align:-0.25em;"></span><span class="mord"><span class="mord mathcal" style="margin-right:0.08222em;">P</span></span><span class="mopen">(</span><span class="mord mathit" style="margin-right:0.05764em;">S</span><span class="mclose">)</span></span></span></span></li>
<li>Size of a set |s|</li>
<li>Set listing for defining a set { 0, 1, 2, ... }</li>
<li>Set builder for defining a set { x, <span class="katex"><span class="katex-mathml"><math><semantics><mrow><mo>∈</mo></mrow><annotation encoding="application/x-tex">\in</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.5782em;vertical-align:-0.0391em;"></span><span class="mrel">∈</span></span></span></span> A | P(x) }</li>
</ul>
<p>Some standard sets in mathematics</p>
<table>
<thead>
<tr>
<th>Set</th>
<th>type</th>
</tr>
</thead>
<tbody>
<tr>
<td>S = {a, b, c}</td>
<td>Finite</td>
</tr>
<tr>
<td>N = {0, 1, 2, ... }</td>
<td>countable</td>
</tr>
<tr>
<td>Z = { ... , -2, -1, 0 , 1, 2, ... }</td>
<td>countable</td>
</tr>
<tr>
<td>Q = { 1/b | a <span class="katex"><span class="katex-mathml"><math><semantics><mrow><mo>∈</mo></mrow><annotation encoding="application/x-tex">\in</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.5782em;vertical-align:-0.0391em;"></span><span class="mrel">∈</span></span></span></span> Z, b <span class="katex"><span class="katex-mathml"><math><semantics><mrow><mo>∈</mo></mrow><annotation encoding="application/x-tex">\in</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.5782em;vertical-align:-0.0391em;"></span><span class="mrel">∈</span></span></span></span> Z}</td>
<td>countable</td>
</tr>
<tr>
<td>R the real numbers</td>
<td>uncountable</td>
</tr>
</tbody>
</table>
<p>Tuple</p>
<ul>
<li>Ternary relation R and mixfix notation
<ul>
<li>A subset of product of three sets, eg, R = G x S x T</li>
<li>Special notation called &quot;mixfix&quot;
<ul>
<li>g |- s : t</li>
<li>In the context of g, s has the context of type t.</li>
</ul>
</li>
</ul>
</li>
</ul>

    </body>
    </html>