    <body>
        <h1 id="week-2">Week 2</h1>
<hr>
<h5 id="unification">Unification</h5>
<pre class="hljs"><code><div>?- mia = mia.
true
?- mia = <span class="hljs-symbol">X</span>.
true
?- <span class="hljs-symbol">X</span>=mia, <span class="hljs-symbol">X</span>=vincent.
false
</div></code></pre>
<p><strong>Occurs check:</strong> Check if the variable actually occurs in the complex term.</p>
<pre class="hljs"><code><div>?- father(<span class="hljs-symbol">X</span>) = <span class="hljs-symbol">X</span>.
<span class="hljs-symbol">X</span>=father(father(father(father(...))))
yes
</div></code></pre>

    </body>
    </html>